.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    padding: 20px;
    font-family: var(--font-nav);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .navbar > a, .navname {
    color: white;
  }
  
  .navbar > .navmenu {
    display: flex;
    padding: 15px;
    gap: 15px;
  }
  
  .navmenu > .navname {
    color: black;
  }
  
  .navbar > Link {
    color: white;
  }
  
  .logo {
    width: auto;
    height: 50px;
    padding: 15px;
  }
  