.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 9vmin 1fr 700px;
  padding: 0;
  margin: 0;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App > .main-container {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 2;
  padding: 0;
  margin: 0;
}

.App > .navbar {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 0;
  margin: 0;

}

.App > .page-header {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 20px;

}

.App > .rubrik-container {
  grid-row-start: 3;
  grid-column-start: 3;
  height: 85%;
  width: 85%;
  /* border: 10px solid rgb(97, 71, 26); */
  margin: 30px;
  font-family: 'Gochi Hand', cursive;
  box-sizing: border-box;
  color: white;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,1);
  box-shadow: 0px 0px 2px rgba(0,0,0,1);
  justify-self: center;
  margin-top: -20px;
  background-image: url('./images/chalkboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 15px;
  border-style: solid;
  border-image: url('./images/woodtexture.png') 20% round;
}

@media only screen and (max-width: 900px) {
  .App {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
    margin: 0;
  }

  .App > .main-container {

    padding: 0;
    margin: 0;
  }
  
  .App > .navbar {
    padding: 0;
    margin: 0;
  
  }
  
  .App > .page-header {

    margin-top: 20px;
  
  }
  
  .App > .rubrik-container {
    height: auto;
    margin: 15px;
    font-family: 'Gochi Hand', cursive;
    box-sizing: border-box;
    color: white;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,1);
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
    justify-self: center;
    background-image: url('./images/chalkboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 15px;
    border-style: solid;
    border-image: url('./images/woodtexture.png') 20% round;
  }
  
}