.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 1fr 1fr 700px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App > .main-container {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 2;
}

.App > .navbar {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.App > .page-header {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 15px;

}

.App > .rubrik-container {
  grid-row-start: 3;
  grid-column-start: 3;
  background-color: lightgrey;
  height: 500px;
  border: 2px solid black;
  margin: 20px;
  border-radius: 10px;
  font-family: 'Gochi Hand', cursive;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 10px #CBD4C2;

}
