@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Dosis:wght@400;700&family=Inter&family=Manrope:wght@500&family=Public+Sans:wght@300;500&family=Quicksand&family=Rubik:wght@400;600&family=Unbounded&display=swap');

@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');


html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(-45deg, #FFFFFF, #824C88); */
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0vmin;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

h1 {
  font-family: 'Gochi Hand', cursive;
  color: black;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
  font-family: 'Walter Turncoat';
}

h4 {
  font-size: 20px;
  font-family: 'Gochi Hand', cursive;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}


:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --purple-1: #9F73AB;
  --blue-1: #A3C7D6;
  --green-1: #ADCF9F;
  --orange: #F67F00;
  --darkgreen:#2F4858;
  --darkblue: #384F71;
  --purple-2: #575184;
  --purple-3: #824C88;
  --soremauve: #AC437C;
  --red: #CC3F60;
  --text-light: #968c84;
  --text-dark: #615954;
  --font-nav: 'Helvetica';
  --font-header: 'Rubik';

}

ul {
  list-style: none;
  padding: 0;

}

li {
  padding: 0;
  font-size: 26px;

}


/* * Form Styling */

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  width: 50vw;
  margin-bottom: 10%;
  
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

form > button {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  width: auto;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  margin-bottom: 10px;
  width: auto;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #247BA0;
  color: white;
}
button:hover {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: auto;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #824C88;
  color:  white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: 'Manrope';
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
#header button {
  background-color: #824C88;
}
#header button:hover {
  background-color: white;
}
#calendar-container {
  width: 700px;
}
#weekdays {
  font-family: 'Manrope';
  width: 100%;
  display: flex;
  color: #247BA0;
}

.short-wkday {
    display: none;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}
#weekdays > .weekend {
  color: rgb(189, 47, 47);
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 90px;
  padding: 10px;
  height: 90px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + .currentDay {
  background-color:#e8f4fa;
}

.day > .calendar-date {
  align-self: left;
  margin: 0;
  padding: 0;
  width: 20px;
}

.grade {
  font-size: 42px;
  font-family: 'Gochi Hand';
  padding: 3px;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#deleteEventModal > .modal-title {
  font-family: 'Manrope';
}
#deleteEventModal > .modal-sub-title {
  font-family: 'Walter Turncoat';
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #824C88;
}

.nextButton, .backButton {
  font-family: 'Manrope';
}

#eventText {
  font-size: 14px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#monthDisplay {
  color: black;
}

.page-header > .page-title {
  font-family: 'Manrope';

}
.page-header > .page-sub-title {
  font-family: 'Manrope';
  color: #9F73AB;
}

.rubrik-container > .rubrik-header {
  margin: 0;
  font-family: 'Walter Turncoat';

}

.rubrik-container > .gpa-container {
  border-top: 3px solid grey;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Walter Turncoat';
  padding-top: 10px;
}

.rubrik-container > .criteria-container {
  height: 80%;
  padding-top: 15px;
}

.criteria-container > .add-task {
  width: 100%;
  height: auto;
}

.criteria-container > .task-list {
  width: 100%;
}

.task-list > .task-item {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.task-item:hover  .trash-button {
  display: block;
  cursor: pointer;
}

.task-item > .trash-button {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 15px;
  display: none;
}

.add-task > .task-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.task-submit > .task-input {
  height: auto;
  border-radius: 10px;
  padding-left: 8px;
  font-family: 'Gochi Hand';
}

.task-submit > .task-text {
  font-size: 16px;
}
.task-submit > .add-button {
  width: auto;
  height: 100%;
  margin: 0;
  font-family: 'Gochi Hand';
  background-color: #9F73AB;;
}

.selected-grade {
  background-color: #824C88;
}

/* ^ Start media queries */

@media only screen and (max-width: 900px) {
  html, body, #app, #app>div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: linear-gradient(-45deg, #FFFFFF, #824C88); */
    padding: 0vmin;
    margin: 0;
    height: 100%;
    width: 100vw;
    display: flex;
  }

  .nextButton, .backButton {
    font-family: 'Manrope';
    font-size: 14px;
    padding: 10px;

  }
  


#calendar-container {
  text-align: center;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  padding-left: 15px;
}

#weekdays {
  font-family: 'Manrope';
  width: auto;
  display: flex;
  color: #247BA0;
  font-size: 10px;
}
#weekdays div {
  width: 25px;
  padding: 14px;

}
#weekdays > .weekend {
  color: rgb(189, 47, 47);
}
.long-wkday {
  display: none;
}

.short-wkday {
  display: block;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;


}
.day {
  width: 45px;
  padding: 10px;
  height: 45px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 4px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.day:hover {
  background-color: #e8faed;
}

.day + .currentDay {
  background-color:#e8f4fa;
}

.day > .calendar-date {
  align-self: left;
  margin: 0;
  padding-top: 3px;
  width: 20px;
  font-size: 10px;
}

.grade {
  padding: 0;
  font-size: 15px;
  font-family: 'Gochi Hand';
  padding: 7px;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  align-self: center;

}

.page-header > .page-title {
  font-family: 'Manrope';
  margin-top: -30px;
  font-size: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
.page-header > .page-sub-title {
  font-family: 'Manrope';
  color: #9F73AB;
  font-size: 18px;
  margin: 10px;
}

#newEventModal, #deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 300px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#deleteEventModal > .modal-title {
  font-family: 'Manrope';
}
#deleteEventModal > .modal-sub-title {
  font-family: 'Walter Turncoat';
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #824C88;
}


.rubrik-container > .rubrik-header {
  margin: 0;
  font-family: 'Walter Turncoat';

}

.rubrik-container > .gpa-container {
  border-top: 3px solid grey;
  height: auto;
  margin-top: 15px;
  padding: 7px;
  font-family: 'Walter Turncoat';
  padding-top: 10px;
}

.rubrik-container > .criteria-container {
  height: auto;
  padding-top: 15px;
}

.criteria-container > .add-task {
  width: 100%;
  height: auto;
}

.criteria-container > .task-list {
  width: 100%;
}

.task-list > .task-item {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.task-item:hover  .trash-button {
  display: block;
  cursor: pointer;
}

.task-item > .trash-button {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 15px;
  display: none;
}

.add-task > .task-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.task-submit > .task-input {
  height: auto;
  border-radius: 10px;
  padding-left: 8px;
  font-family: 'Gochi Hand';
}

.task-submit > .task-text {
  font-size: 16px;
}
.task-submit > .add-button {
  width: auto;
  height: 100%;
  margin: 0;
  font-family: 'Gochi Hand';
  background-color: #9F73AB;;
}

.selected-grade {
  background-color: #824C88;
}
  
}

