@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&display=swap');




html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(-45deg, #FFFFFF, #824C88); */
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0vmin;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

h1 {
  font-family: 'Gochi Hand', cursive;
  color: black;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
  margin-top: 15px;
}

h4 {
  font-size: 20px;
  font-family: 'Gochi Hand', cursive;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}


:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --purple-1: #9F73AB;
  --blue-1: #A3C7D6;
  --green-1: #ADCF9F;
  --orange: #F67F00;
  --darkgreen:#2F4858;
  --darkblue: #384F71;
  --purple-2: #575184;
  --purple-3: #824C88;
  --soremauve: #AC437C;
  --red: #CC3F60;
  --text-light: #968c84;
  --text-dark: #615954;
  --font-nav: 'Helvetica';
  --font-header: 'Rubik';

}

ul {
  list-style: none;
  padding: 0;

}

li {
  padding: 0;
  font-size: 26px;

}


/* * Form Styling */

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  width: 50vw;
  margin-bottom: 10%;
  
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

form > button {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  width: auto;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  margin-bottom: 10px;
  width: auto;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
button:hover {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: auto;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  color: black;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
#calendar-container {
  width: 700px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 90px;
  padding: 10px;
  height: 90px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + .currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 32px;
  font-family: 'Gochi Hand';
  padding: 3px;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

.rubrik-container > .rubrik-header {
  height: 10%;
  margin: 0;
}

.rubrik-container > .gpa-container {
  border-top: 2px solid black;
  height: auto;
  margin: 0;
  padding: 0;
}

.rubrik-container > .criteria-container {
  border-top: 2px solid black;
  height: 70%;
}

.criteria-container > .add-task {
  width: 100%;
  height: auto;
}

.criteria-container > .task-list {
  width: 100%;
}

.task-list > .task-item {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.task-item > .trash-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
}

.add-task > .task-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.task-submit > .task-input {
  height: auto;
  border-radius: 10px;
}

.task-submit > .task-text {
  font-size: 16px;
}
.task-submit > .add-button {
  width: auto;
  height: 100%;
  margin: 0;
}

